
text/main.aux
text/main.bbl
text/main.blg
text/main.fls
text/main.log
text/main.out
text/main.pdf
text/main.fdb_latexmk
text/main.synctex.gz
text/.main.tex.swp
text/.references.bib.swp
/src/QUBO4JobShop/JobShop_QUBO/__pycache__
*.swp
/src/AMESimulations/*.pdf
/src/AMESimulations/*.csv
/src/QUBO4JobShop/QUBOs/*.pkl
